.ListContainer {
  margin: 8px;
}

.Title {
  font-weight: 600;
  color: darkblue;
}

.FriendList {
  list-style: none;
  margin: 0;
}

.Friend {
  display: flex;
  text-align: left;
  padding: 4px;
  align-items: center;
  border: 1px solid transparent;
  width: fit-content;
  cursor: default;
}

.Friend:focus {
	background-color: hsl(232 95 57);
  color: white;
}

.GuyIcon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
