@font-face {
  font-family: "w95fa";
  src: url("/fonts/w95fa.woff"), url("/fonts/w95fa.woff2");
}

button {
  all: unset;
}

.MenuRoot {
  position: relative;
  display: flex;
  justify-content: left;
  width: 100%;
  z-index: 1;
  background-color: rgb(195, 195, 195);
}

.MenuList {
  display: flex;
  justify-content: center;
  background-color: rgb(195, 195, 195);
  list-style: none;
  margin: 0;
  padding-inline-start: 0px;
}

.MenuTrigger,
.MenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  font-size: 15px;
  border: none;
  background-color: rgb(195, 195, 195);
}
.MenuTrigger:focus,
.MenuLink:focus {
  background-color: hsl(232 95 57);
  color: rgb(195, 195, 195);
}
.MenuTrigger:hover,
.MenuLink:hover {
  background-color: hsl(232 95 57);
  color: rgb(195, 195, 195);
}

.MenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  font-family: "w95fa";
}

.MenuLink {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}
